/* Header Styles */
.custom-navbar {
    padding: 0;
    background-color: #ffffff; /* White background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
}


.navbar-logo {
    background-color: transparent;
    padding: 0 1rem;
}
.branding-section {
    display: flex;
    align-items: center;
    gap: 12px;
}

.brand-text {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff; 
    letter-spacing: 0.8px;
}


.navbar-actions {
    background-color: transparent;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
}

/* Logout link styling */
.logout-link {
    background-color: red; /* Dark gray background */
    color: white; /* Yellow text color */
    text-decoration: none;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

    .logout-link:hover {
        background-color:blueviolet; /* Darker gray on hover */
        text-decoration: none;
        color:black

    }

    .logout-link i {
        margin-right: 8px; /* Space between icon and text */
    }
