.logout_button {
    background-color: #7B2CBF; /* Medium Slate Blue (Matches the one in image) */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    transition: 0.3s;
}

    .logout_button i {
        font-size: 18px;
    }

    .logout_button:hover {
        background-color: #5A1E91; /* Darker shade on hover */
    }

.logout-link {
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    margin-right: 20px;
}

    .logout-link:hover {
        text-decoration: underline;
        color: #ddd;
    }
